@font-face {
   font-family: 'Raleway Dots';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///E:/SynologyDrive/Home%20Drive/GITHUB/awaykn.net/fonts/Raleway Dots/regular.ttf') format('truetype');
}
